.listMovie__body {
  display: flex;
  color: white;
  h5 {
    color: #1de9b6;
  }
  h6 {
    margin: 0;
  }
  .icon-btn {
    color: white;
    &:focus {
      outline: none;
    }
  }
  .MuiDrawer-paper {
    top: 70px;
    width: 270px;
    color: white;
    background-color: #1c1c1c;
    border: none;
  }
  .listMovie__settings {
    .listMovie__settings-btn {
      justify-content: end;
      width: 200px;
      padding: 40px 40px 0px 40px;
      .filter-btn {
        position: fixed;
        top: 110px;
        box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14),
          0px 1px 18px 0px rgba(0, 0, 0, 0.12);
        display: flex;
        align-items: center;
        height: 48px;
        padding: 0 16px;
        min-width: 48px;
        min-height: auto;
        border-radius: 50px;
        transition: 0.5s;
        &:hover {
          background-color: #64ffda;
          transition: 0.5s;
        }
        &:focus {
          outline: none;
        }
      }
    }
    .listMovie__settings-btn--hide {
      display: none;
    }
  }
  .listMovie__drawer {
    .listMovie__drawer-header {
      padding: 10px 20px;
      h6 {
        margin: 0;
      }
    }
    .listMovie__drawer-body {
      // text-align: center;
      padding: 0px 24px;
      .listMovie__category,
      .listMovie__sort,
      .listMovie__filter {
        margin-top: 30px;
      }
      button {
        margin: 7px 3px;
        height: 50px;
        width: 100px;
        border-radius: 50px;
        color: white;
        &:hover {
          transition: 0.5s;
          background-color: #1de9b6;
          color: #004d40;
        }
        &:focus {
          outline: none;
        }
        :target {
          background-color: red;
        }
        .listMovie__category,
        .listMovie__sort,
        .listMovie__filter {
          margin: 50px 0 0 0;
        }
      }
      .listMovie__filter-grid {
        margin: 30px 0 0 0;
        .MuiSlider-root {
          margin-top: 6px;
          color: #1de9b6;
          .PrivateValueLabel-label-5 {
            color: #004d40;
          }
        }
      }
    }
  }
  .listMovie__items--before {
    padding: 30px 80px 0 0;
    // transition: 0.2s;
  }
  .listMovie__items--after {
    padding: 30px 80px 0 290px;
    // transition: 0.2s;
  }
  .items-img:hover {
    cursor: pointer;
  }
  .items-img:hover + .items-title {
    display: flex;
  }
  .items-title {
    display: none;
    height: 25%;
    background: linear-gradient(transparent, 25%, black);
    .MuiGridListTileBar-title {
      font-size: 18px;
    }
    .MuiGridListTileBar-subtitle {
      font-size: 14px;
      line-height: 2;
    }
  }
}
