.editPassword__body {
    h3{
        color: white;
    }

    background-color: #1c1c1c;
    margin: 60px 0 0 0;
    padding: 50px 50px 0 50px !important;
    border-radius: 20px;
    height: 550px;
    max-width: 600px !important;
    justify-content: center;
    text-align: center;
    
    .editPassword__btn {
        margin: 40px 0 0 0;
        height: 65px;
        width: 100%;
        background: black;
        border-radius: 50px;
        color: white;
        transition: 0.7s;
        &:hover {
          transition: 0.5s;
          background-color: #1de9b6;
          color: #004d40;
        }
        &:focus {
          outline: none;
        }
      }

}