.header__body {
  height: 70px;
  .MuiAppBar-colorPrimary {
    background-color: #1c1c1c;
  }
  .header__logo img {
    height: 45px;
  }
  .header__search-bar{
    margin: 0 20px;
    width: 250px;
    .MuiOutlinedInput-notchedOutline {
      border-color: #1DE9B6  !important;
    }
    .MuiOutlinedInput-input{
      height: 5px;
    }
  }
  .header__icon {
    .MuiSvgIcon-root {
      color: white;
      height: 35px;
      width: 35px;
    }
    &:focus {
      outline: none;
    }
  }
}
.header_popover-profil {
  .MuiPaper-rounded {
    background-color: #2c2c2c;
    padding: 10px 20px 40px 20px;
  }
}
